<%= form_with(model: mountain_route, class: "contents") do |form| %>
  <% if mountain_route.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(mountain_route.errors.count, "error") %> <%= t('activerecord.errors.models.mountain_route') %></h2>

      <ul>
        <% mountain_route.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="mt-10 grid grid-cols-1 gap-x-12 gap-y-8 sm:grid-cols-12">
    <div class="sm:col-span-4">
      <%= form.label :activity_date %>
      <%= form.date_field :activity_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="sm:col-span-4">
      <%= form.label :length %>
      <%= form.number_field :length, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="sm:col-span-4">
      <%= form.label :area %>
      <%= form.text_field :area, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="sm:col-span-12 my-5">
    <%= form.label :partner %>
    <%= form.text_field :partner, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
      <div class="mt-5 grid grid-cols-1 gap-x-12 gap-y-8 sm:grid-cols-12">
        <div class="sm:col-span-2 sm:col-start-1">
          <%= form.label :equipped, class: "block leading-6 text-gray-900" %>
          <div class="mt-2">
            <%= form.check_box :equipped, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
          </div>
        </div>

        <div class="sm:col-span-2">
          <%= form.label :style, "Styl", class: "block leading-6 text-gray-900" %>
          <div class="mt-2">
            <%= form.select :style, options_for_select(
                MountainRoute.styles.map { |key, value|
                    [key.upcase, MountainRoute.styles.key(value)]
                }, @mountain_route.style
              ),
              class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6",
              include_blank: ''
            %>
          </div>
        </div>
        <div class="sm:col-span-4">
          <%= form.label :french_difficulty, class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <%= form.select :french_difficulty, options_for_select(
                MountainRoute.french_difficulties.map { |key, value|
                    [key.titleize, MountainRoute.french_difficulties.key(value)]
                }, @mountain_route.french_difficulty
              ),
              class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",
              include_blank: ''
            %>
          </div>
        </div>
        <div class="sm:col-span-4">
          <%= form.label :custom_difficulty, class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <%= form.text_field :custom_difficulty, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="rounded overflow-hidden shadow-lg">
    <div class="px-12 pt-4 pb-2 bg-gray-100">
      <div data-controller='toggle' class="m-2">
        <div data-action='my-5'>
          <%= form.label :multipitch %>
          <%= form.check_box :multipitch, class: "block mt-2 h-5 w-5", data: { action: "toggle#toggleInput" } %>
        </div>

        <div data-toggle-target='toggleable' class="<%= @mountain_route.multipitch? ? "" : "hidden" %>">
          <div class="my-5">
            <%= form.label :multipitch_difficulty %>
            <%= form.text_field :multipitch_difficulty, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
          </div>

          <div class="my-5">
            <%= form.label :multipitch_lead %>
            <%= form.number_field :multipitch_lead, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
          </div>

          <div class="my-5">
            <%= form.label :multipitch_number %>
            <%= form.number_field :multipitch_number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
          </div>

          <div class="my-5">
                <%= form.select :multipitch_style, options_for_select(
                    MountainRoute.styles.map { |key, value|
                        [key.upcase, MountainRoute.multipitch_styles.key(value)]
                    }, @mountain_route.multipitch_style
                  ),
                  include_blank: 'Styl prowadzonych trudności'
                %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg my-5 py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
