<div id="<%= dom_id mountain_route %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.mountain_route.name') %>:</strong>
    <%= mountain_route.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.mountain_route.sport_type') %>:</strong>
    <%= MountainRoute.human_enum_name(:sport_type, mountain_route.sport_type) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.mountain_route.activity_date') %>:</strong>
    <%= mountain_route.activity_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.mountain_route.area') %>:</strong>
    <%= mountain_route.area %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.mountain_route.equipped') %>:</strong>
    <%= I18n.t mountain_route.equipped %>
  </p>

  <% if mountain_route.custom_difficulty? %>
    <p class="my-5">
      <strong class="block font-medium mb-1"><%= t('activerecord.attributes.mountain_route.custom_difficulty') %>:</strong>
      <%= mountain_route.custom_difficulty %>
    </p>
  <% end %>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.mountain_route.french_difficulty') %>:</strong>
    <%= mountain_route.french_difficulty %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.mountain_route.style') %>:</strong>
    <%= mountain_route.style %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.mountain_route.length') %>:</strong>
    <%= mountain_route.length %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.mountain_route.multipitch') %>:</strong>
    <%= I18n.t mountain_route.multipitch %>
  </p>

  <% if mountain_route.multipitch? %>
    <p class="my-5">
      <strong class="block font-medium mb-1"><%= t('activerecord.attributes.mountain_route.multipitch_difficulty') %>:</strong>
      <%= mountain_route.multipitch_difficulty %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1"><%= t('activerecord.attributes.mountain_route.multipitch_lead') %>:</strong>
      <%= mountain_route.multipitch_lead %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1"><%= t('activerecord.attributes.mountain_route.multipitch_number') %>:</strong>
      <%= mountain_route.multipitch_number %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1"><%= t('activerecord.attributes.mountain_route.multipitch_style') %>:</strong>
      <%= mountain_route.multipitch_style %>
    </p>
  <% end %>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('activerecord.attributes.mountain_route.team') %>:</strong>
    <%= sanitize team_link(mountain_route) %>
  </p>

  <% if mountain_route.description.present? %>
    <p class="my-5">
      <strong class="block font-medium mb-1"><%= t('activerecord.attributes.mountain_route.description') %>:</strong>
      <%= mountain_route.description %>
    </p>
  <% end %>

  <% if mountain_route.images.attached? %>
    <p class="my-5">
      <strong class="block font-medium mb-1"><%= t('activerecord.attributes.mountain_route.images') %>:</strong>
      <% mountain_route.images.each do |image| %>
        <div data-controller="modal">
          <dialog data-modal-target="dialog" class="p-8 rounded-lg backdrop:bg-black/80">
            <%= image_tag image, class: "rounded-lg" %>
            <button autofocus data-action="modal#close" class="px-2.5 py-1 bg-blue-500 text-white text-sm rounded">Close</button>
          </dialog>

          <%= image_tag image.variant(:thumb), class: "rounded-lg", data: { action: "click->modal#open" } %>
        </div>
      <% end %>
    </p>
  <% end %>


  <% if action_name != "show" %>
    <%= link_to t('.show', default: t("helpers.links.show")), mountain_route, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% if policy(mountain_route).edit? %>
      <%= link_to t('.edit', default: t("helpers.links.edit")), edit_mountain_route_path(mountain_route), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
  <% end %>
</div>
