<table class="min-w-full divide-y divide-gray-300">
  <thead class="bg-gray-50">
    <tr>
      <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6" width=10%><%= t('.date') %></th>
      <th scope="col" class="hidden py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:table-cell" width=30%><%= t('.name') %></th>
      <th scope="col" class="hidden py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:table-cell" width=10><%= t('.difficulty') %></th>
      <th scope="col" class="hidden py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:table-cell" width=40%><%= t('.team') %></th>
      <th scope="col" class="hidden relative py-3.5 pl-3 pr-4 sm:pr-6 lg:table-cell" width=10%>
        <span class="sr-only">Edit</span>
      </th>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-200 bg-white">
    <% mountain_routes.each do |mountain_route| %>
      <tr>
        <td class="lg:hidden">
          <dl class="font-normal lg:hidden">
            <dd class="mt-1 truncate text-gray-700"><%= link_to mountain_route.name, mountain_route %></dd>
            <% if mountain_route.custom_difficulty.present? %>
              <dd class="mt-1 truncate text-gray-700"><%= link_to mountain_route.custom_difficulty, mountain_route %></dd>
            <% end %>
            <dd class="mt-1 truncate text-gray-700"><%= link_to mountain_route.activity_date, mountain_route %></dd>
            <dd class="mt-1 truncate text-gray-500 sm:hidden"><%= link_to MountainRoute.human_enum_name(:sport_type, mountain_route.sport_type), mountain_route %></dd>
            <dd class="mt-1 truncate text-gray-500 sm:hidden"><%= link_to mountain_route.area, mountain_route %></dd>
            <dd class="font-medium text-gray-900"><%= link_to mountain_route.partners.collect { |partner| partner.name }.join(', '), mountain_route %></dd>
          </dl>
        </td>
        <td class="hidden whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0 lg:table-cell">
          <div class="flex items-center">
            <div class="h-11 w-11 flex-shrink-0">
              <% if mountain_route.images.attached? %>
                <% image = mountain_route.images.first %>
                <%= image_tag image.variant(:thumb), class: "h-11 w-11 rounded-full" %>
              <% else %>
                <span class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-gray-500">
                <span class="font-medium leading-none text-white"><%= MountainRoute.human_enum_name(:sport_type, mountain_route.sport_type).split.map(&:first).join %></span>
                </span>
              <% end %>
            </div>
            <div class="ml-4">
              <div class="font-medium text-gray-900"><%= link_to mountain_route.activity_date, mountain_route %></div>
              <div class="mt-1 text-gray-500"><%= link_to MountainRoute.human_enum_name(:sport_type, mountain_route.sport_type), mountain_route %></div>
            </div>
          </div>
        </td>
        <td class="hidden whitespace-nowrap px-3 py-5 text-sm text-gray-500 lg:table-cell">
          <div class="text-gray-900"><%= link_to mountain_route.name, mountain_route %></div>
          <div class="mt-1 text-gray-500"><%= link_to mountain_route.area, mountain_route %></div>
        </td>
        <td class="hidden whitespace-nowrap px-3 py-5 text-sm text-gray-500 lg:table-cell">
          <div class="font-medium text-gray-900 text-center"><%= mountain_route.french_difficulty %></div>
          <div class="mt-1 text-gray-500"><%= mountain_route.custom_difficulty %></div>
        </td>
        <td class="hidden whitespace-nowrap px-3 py-5 text-sm text-gray-500 lg:table-cell">
          <div class="font-medium text-gray-900"><%= sanitize team_link(mountain_route) %></div>
          <div class="mt-1 text-gray-500"><%= mountain_route.partner %></div>
        </td>
        <td class="hidden relative whitespace-nowrap py-5 pl-3 pr-4 text-right text-sm font-medium sm:pr-0 lg:table-cell">
          <% if policy(mountain_route).edit? %>
            <%= link_to edit_mountain_route_path(mountain_route), class: "text-yellow-600 hover:text-yellow-900" do %>
              <span class=""><%= t('edit') %></span>
            <% end %>
            <%= button_to mountain_route, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "text-red-600 hover:text-red-900" do %>
              <span class=""><%= t('delete') %></span>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
