<div class="w-full">
  <%= render 'shared/flash' %>


  <div class="grid lg:grid-cols-2 gap-4">
    <div class="">
      <%= form_with url: mountain_routes_path, method: :get do %>
        <div class="grid lg:grid-cols-3 gap-4">
              <%= text_field_tag :search, params[:search], class: "", placeholder: t('.search') %>
              <%= text_field_tag :year, params[:year], class: "", placeholder: t('.year') %>
              <%= select_tag :sport_type, options_for_select(MountainRoute.sport_types.keys.map { |sport_type| [t("activerecord.attributes.mountain_route.sport_types.#{sport_type}"), sport_type] }, params[:sport_type]), onchange: "this.form.submit();", include_blank: t('.sport_type'), class: "text-gray-500" %>
              <%= submit_tag t('.search'), class: "hidden" %>
        </div>
      <% end %>
    </div>
    <div class="flex flex-row-reverse">
      <%= link_to t('.new'), new_mountain_route_path, class: "max-sm:w-full rounded-lg py-3 px-5 bg-yellow-300 justify-end font-medium" %>
    </div>
  </div>

  <div id="mountain_routes" class="mt-5 min-w-full">
    <%= render 'responsive_table', mountain_routes: @mountain_routes %>

    <div class="flex py-5 justify-center">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
