<h1 class="font-bold text-4xl">
  <% if ActiveModel::Type::Boolean.new.cast(params[:next]) %>
    <%= t(".next_title") %>
  <% else %>
    <%= t(".title") %>
  <% end %>
</h1>
<%= render 'shared/flash' %>

<div class="grid sm:grid-cols-2 md:grid-cols-5 gap-5 mt-5">
  <% MountainRoute.sport_types.keys.each do |sport_type| %>
    <div class="col-span-1 text-center">
      <% if sport_type == @mountain_route.sport_type %>
        <%= link_to t("activerecord.attributes.mountain_route.sport_types.#{sport_type}"), new_mountain_route_path(mountain_route: { sport_type: sport_type }), class: "rounded-lg py-3 px-5 bg-yellow-300 inline-block font-medium" %>
      <% else %>
        <%= link_to t("activerecord.attributes.mountain_route.sport_types.#{sport_type}"), new_mountain_route_path(mountain_route: { sport_type: sport_type }), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render "form", mountain_route: @mountain_route %>
