<div class="flex">
  <div class="mr-4 flex-shrink-0 self-end">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar.variant(:thumb), class: "h-20 w-20 rounded-full" %>
    <% else %>
      <%= image_tag "https://picsum.photos/200", class: "h-20 w-20 rounded-full" %>
    <% end %>
  </div>

  <div>
    <h4 class="text-lg font-bold"><%= @user.name %></h4>
    <p class="mt-1">
      Pokonane metry: <%= @user.mountain_routes.sum(:length) %> m
    </p>
    <p class="mt-0">
      Ostatnie 5 dróg: <%= @user.mountain_routes.collect(&:french_difficulty).last(5).join(", ") %>
    </p>
  </div>
</div>

<div id="mountain_routes" class="flex mt-10">
  <%= render "mountain_routes/responsive_table", mountain_routes: @user.mountain_routes %>
</div>


