<div class="mt-10 grid md:grid-cols-4 gap-5 sm:grid-cols-1">
  <div class="sm:col-span-2">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="sm:col-span-1">
    <%= form.label :activity_date %>
    <%= form.date_field :activity_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div data-action='sm:col-span-1'>
    <div class="mt-10 h-10 w-full ">
      <%= form.check_box :hidden, class: "mr-3" %>
      <%= form.label :hidden %>
    </div>
  </div>
</div>
