<article class="my-5 p-5 text-base bg-white rounded-lg border ">
  <footer class="flex justify-between items-center mb-2">
      <div class="flex items-center">
        <p class="inline-flex items-center mr-3 text-sm text-gray-900 font-semibold">
          <%= render partial: "users/avatar", locals: { user: comment.user } %>
          <div><%= link_to comment.user.name, comment.user %></div>
        </p>
        <p class="ml-3 text-sm text-gray-600"><time pubdate datetime="<%= comment.created_at.to_date %>" title="<%= l comment.created_at, format: :short %>"><%= l comment.created_at, format: :short %></time></p>
      </div>
      <% if policy(comment).edit? %>
        <div data-controller="dropdown">
          <button id="dropdownComment1Button" data-dropdown-toggle="dropdownComment1"
              data-action="click->dropdown#toggle click@window->dropdown#hide"
              class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 "
              type="button">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                  <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
              </svg>
              <span class="sr-only"><%= t('.settings') %></span>
          </button>
          <!-- Dropdown menu -->
          <div id="dropdownComment1"
              data-target="dropdown.menu"
              class="absolute hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow ">
              <ul class="py-1 text-sm text-gray-700 "
                  aria-labelledby="dropdownMenuIconHorizontalButton">
                  <li>
                      <%= button_to t('.destroy'), comment, method: :delete, form: { data: { turbo_confirm: t('.confirm') } }, class: "block py-2 px-4 hover:bg-gray-100 " %>
                  </li>
              </ul>
          </div>
        </div>
      <% end %>
  </footer>
  <p class="text-gray-500 "><%= sanitize comment.content %></p>
</article>
