<% if user_signed_in? && current_user.admin? %>
  <div class="container m-10">
    <ul class='flex gap-5'>
      <li><%= link_to "Użytkownicy", admin_users_path, class: "p-5 bg-yellow-300 text-white-400 hover:bg-yellow-700 hover:text-white" %>
      <li><%= link_to "Monitoring", 'https://appsignal.com/klub-wysokogorski-krakow/sites/661fa4c283eb67a5812d5f09/dashboard', class: "p-5 bg-yellow-300 text-white-400 hover:bg-yellow-700 hover:text-white" %>
      <li><%= link_to "Zadania w tle", '/jobs', class: "p-5 bg-yellow-300 text-white-400 hover:bg-yellow-700 hover:text-white" %>
      <li><%= link_to "Regulamin", '#', class: "p-5 bg-gray-300 text-white-400 hover:bg-yellow-700 hover:text-white" %>
      <li><%= link_to "Polityka Prywatności", '#', class: "p-5 bg-gray-300 text-white-400 hover:bg-yellow-700 hover:text-white" %>
      <li><%= link_to "Treści E-maili", '#', class: "p-5 bg-gray-300 text-white-400 hover:bg-yellow-700 hover:text-white" %>
    </ul>
  </div>
<% end %>
