<%= form_with(model: mountain_route, class: "contents") do |form| %>
  <% if mountain_route.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <ul>
        <% mountain_route.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :sport_type, value: "speleo" %>

  <%= render "mountain_routes/forms/sections/name_and_date", form: form %>

  <%= render "mountain_routes/forms/sections/length_area_and_difficulty", form: form %>

  <%= render "mountain_routes/forms/sections/partners", form: form %>

  <%= render "mountain_routes/forms/sections/description_and_images", mountain_route: mountain_route, form: form %>

  <div class="inline">
    <%= form.submit class: "rounded-lg w-full my-5 py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
